<mat-card appearance="outlined">
  <mat-card-content>
    <div class="row">
      <div class="col">
        <span>Nombre de usuario: {{ user.name }}</span>
      </div>
      <div class="col">
        <span>Primer Apellido: {{ user.surname1 }}</span>
      </div>
      <div class="col">
        <span>Segundo Apellido: {{ user.surname2 }}</span>
      </div>
      <div class="col">
        <span>Email: {{ user.email }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="mt-3"> ID: {{ user.id }}</mat-card-footer>
</mat-card>
